.header {
  width: 100%;
  background-color: #ffffff;
  color: white;
  box-shadow: 0 2px 5px rgba(86, 33, 0, 0.354);
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo {
   transition: filter 300ms ease-in-out;
}

.site-logo img {
  height: 100px;
  width: auto;
  transition: filter 300ms ease-in-out;
}

.site-logo:hover {
  filter: drop-shadow(0 0 1.5em #592a0050);
}
.site-logo.react:hover {
  filter: drop-shadow(0 0 1.5em #61dafbaa);
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 2rem;
}

.nav-item a {
  color: rgb(76, 34, 0);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #a75c00;
}

.nav-link {
  color: rgb(76, 34, 0);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #a75c00;
}

.nav-link.active {
  color: #a75c00; /* o el color destacado que prefieras */
  font-weight: 700;
}

.main-menu {
  margin-right: auto;
}

.login-menu {
  margin-left: 2.5em;

}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    padding: 1rem;
  }
  
  .nav-list {
    margin-top: 1rem;
  }
  
  .nav-item {
    margin: 0 0.5rem;
  }
}