.main-card-container {
  width: 100%;
  padding: 6rem 2rem 2rem; 
  background-color: #f8f9fa;
  margin-top: 120px;
}

.main-card {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-content {
  padding: 2rem;
  text-align: center;
}

.card-content h2 {
  color: #2c3e50;
  margin-bottom: 1rem;
}

.card-content p {
  color: #7f8c8d;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.card-button {
  text-align: center;
  padding: 0.5rem;
  background-color: #4b342c;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.card-button:hover {
    background-color: #794e3b;
    color: white;
}

@media (max-width: 768px) {
  .main-card-container {
    padding: 5rem 1rem 1rem;
  }
  
  .card-content {
    padding: 1.5rem;
  }
}