.productos-container {
  width: 100%;
  padding: 2rem 1rem;
  padding-top: 120px;
  text-align: center;
  background-color: #f9f9f9;
}

.productos-title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Máximo 3 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 4.5em; /* Asegura espacio reservado para 3 líneas */
  color: #a75c00;
  padding-top: 1.5em;
  font-size: 1.5em;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.spinner-icon {
  font-size: 2rem;
  color: #4b342c;
  margin-top: 1rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
